<h1>Welcome to my Portfolio!!1<3 </h1>
        <h3>Here are my Projects! I worked very hard on them!!</h3>
        <div class="container">
            {{#projects}}
            <div>
                <a class="directory-links" href="{{directory}}"><img class="screenshot"
                        src="/{{directory}}/screenshot.png" />{{name}}</a>
            </div>
            {{/projects}}
        </div>