body{
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

header{
    background-color: chocolate;
    height: 70px;
    width: 100%;

}

footer{
    height: 30px;
    background-color: mediumturquoise;
    margin: 0px;
}

img{
    height: 200px;
    width: 200px;
}