body {
    margin: 0;
  }
  
  #ticker {
    overflow: hidden;
    border-bottom: 2px solid rgb(241, 132, 7);
    height: 1.5em;
    position: relative;
    background-color: rgb(78, 0, 0);
  }
  
  #Sports {
    white-space: nowrap;
    position: absolute;
    left: 95%;
    top: 0;
  }
  
  #Sports a {
    padding-right: 40px;
    font-family: 'sans-serif', 'Calibri', 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', ;
    color: whitesmoke;
  }