body{
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(2, 300px);
    grid-auto-rows: 300px ;
}

.red{
    background-color: limegreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}

.blue{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}

.orange{
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}
.yellow{
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}
.green{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}
.black{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}
.purple{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}
.brown{
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
}