*{
    background-color: lightgray;
    font-family: sans-serif;
    
}
input{
    border: 2px solid lightseagreen;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 42%;
}

.highlighted{
    background-color: royalblue;
    color: seashell;

}