<h1>This is my home page template!!<3 </h1>
        <h2>hey there, {{cohort}} </h2>
        <h3>We are the team!!!</h3>
        <ul>
            {{#team}}
            <li>{{name}}</li>
            {{/team}}
        </ul>